body{
    font-family: Arial;
    line-height: 25px;
    background-color: khaki;
} 

img{
    width: 100%;
}

.column {
    width: 600px;
    margin: px auto;
    padding: 1px 40px 40px 40px;
    background-color: white;
}

h1{
    font-size: 40px;
    font-family: Georgia;
}